@using StackOverblowApp.Models.Questions
@using Humanizer
@model QuestionModel
@inject LinkGenerator linkGenerator

<div class="question">

    <div class="question-head">
        <div>
            <div class="inline question-main-title">
                <h2>@Model.Title</h2>
            </div>
            <div class="inline ask-question">
                <a href="@linkGenerator.GetPathByAction(controller: "Questions", action: "Ask")">Ask question</a>
            </div>
        </div>
        <div>
            <span class="question-under-title-stats">
                Asked
                <time datetime="@Model.AskedAt.ToString()">@Model.AskedAt.Humanize()</time>
            </span>
            <span class="question-under-title-stats">
                Modified
                <time datetime="@Model.LastModified.ToString()">@Model.LastModified.Humanize()</time>
            </span>
            <span class="question-under-title-stats">
                Viewed
                @Model.ViewsCount times
            </span>
            <hr class="narrow" />
        </div>
    </div>
    <div class="question-body">
        <div class="question-left-panel">
            <
        </div>
    </div>
</div>
